---
title: Docs archives | GitLab
comments: false
last_updated: 2018-04-12
---

<h1>Docs archives</h1>

This website contains online documentation for the current version of GitLab
and the two previous versions.

<% unless @items['/_data/versions.yaml'][:offline].nil? %>
To browse a version that is not available online, see the
<a href='#offline-archives'>offline archives</a>.
<% end %>

<h2 id="current-version">Current versions <a class="anchor" href="#current-version" title="Permalink"></a></h2>

The current stable version is
<a href='/<%= @items['/_data/versions.yaml'][:current].first %>/'><%= @items['/_data/versions.yaml'][:current].first %></a>.

<h2 id="previous-online-versions">Previous online versions <a class="anchor" href="#previous-online-versions" title="Permalink"></a></h2>

The following archives are available online:

<ul>
<% @items['/_data/versions.yaml'][:previous].each do |version| %>
  <li>
    <a href='/<%= version %>/'><%= version %></a>
  </li>
<% end %>
</ul>

<% unless @items['/_data/versions.yaml'][:offline].nil? %>
<h2 id="offline-archives">Offline archives <a class="anchor" href="#offline-archives" title="Permalink"></a></h2>

The following archives are available and can be browsed offline. You'll need to have
<a href='https://docs.docker.com/install/' target='_blank'>Docker installed</a>.

<% @items['/_data/versions.yaml'][:offline].each do |version| %>

<h3><%= version %></h3>

<div class="highlight"><pre class="highlight shell"><code>docker run <span class="nt">-it</span> <span class="nt">--rm</span> <span class="nt">-p</span> 4000:4000 registry.gitlab.com/gitlab-com/gitlab-docs:<%= version %>
</code></pre></div>

<% end %>
<% end %>
