<%# Show comments only in production and on master branch (hide archives) %>
<% if @item[:comments].nil? && ENV['NANOC_ENV'] == 'production' && ENV['CI_COMMIT_REF_NAME'] == 'master' %>
  <% unless @item.identifier.to_s.split('/')[1] == 'ce' %>
    <div class="comments">
      <div class="admonition-wrapper note">
        <div class="admonition alert alert-info">
          <p>
          <em>
            Was this helpful? Do you think that something is unclear?
            Use the comments area below and leave your feedback.
            <strong>
              For support and other enquiries, see
              <a href="https://about.gitlab.com/getting-help/" target="_blank">getting help</a>.
            </strong>
          </em>
          </p>
          <p>
          <em>
            Any comments that aren't related to documentation feedback will be <strong>deleted</strong>.
            Read more on how we handle documentation comments
            <a href="https://about.gitlab.com/handbook/marketing/community-marketing/community-advocacy/#docs-comments"  target="_blank">in our handbook</a>.
          </em>
          </p>
        </div>
      </div>
      <div id="disqus_thread"></div>
      <script>
          var disqus_config = function () {
              this.page.url = '<%= @config[:base_url] %><%= @item.identifier.without_ext + '.html' %>';
              this.page.title = '<%= @item.key?(:title) ? "#{item[:title]} - GitLab Documentation" : "GitLab Documentation" %>';
            <% if @item[:redirect_from] %>
              this.page.identifier = '<%= @item[:redirect_from] %>';
            <% else %>
              this.page.identifier = '<%= @config[:base_url] %><%= @item.identifier.without_ext + '.html' %>';
            <% end %>
          };

          (function() { // DON'T EDIT BELOW THIS LINE
              var d = document, s = d.createElement('script');
              s.src = 'https://gitlab-docs.disqus.com/embed.js';
              s.setAttribute('data-timestamp', +new Date());
              (d.head || d.body).appendChild(s);
              })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
    </div>
  <% end %>
<% end %>
